img { /* Imagem fluída */
	display: block;
	max-width: 100%;
}

html, body{  font-family: 'Roboto', sans-serif; background: #fefefe fixed; background-size: cover;}

h1, h2, h3, h4, h5, h6 {  line-height: 1.4em; font-family: 'Dancing Script', cursive;}


.titulo{ padding: 40px 0px 0px 0px;   text-align: center; }

.titulo h1{
  font-size: 60px;

}

.titulo h1:after{
  content: '';
  width: 100px;
  height: 1px;
  background: black;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
}

.titulo p { max-width: 800px; font-size: 14px; margin: 0 auto; color: #555555; line-height: 2em; letter-spacing: 0.1em;}

.call_to{ 
    clear: both;
    padding: 40px 0px; 
    text-align: center; }

.call_to a{
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 20px 50px; 
    border: 1px solid #111111; 
    color: #111111; 
    position: relative; 
    transition: .7s;
    overflow: hidden;
    z-index: 1;
    font-weight: 400;
    text-transform: uppercase;
  }


.call_to a:hover{  background: #111111; color: #fefefe;}


.effect1:after{
    content: '';
    display: block;
    height: 1px;
    width: 0%;
    background: rgba(255,255,255,1);
    transition: .3s ease-in-out;
  }

.effect1:hover::after{
    width: 100%;
    transition: .3s ease-in-out;
}

.header{ 
    width: 100%; 
    position: absolute;
    z-index: 1;
    height: 100vh;
    background: rgba(0,0,0,.4);
}

.header.portfolio, .header.sobre, .header.contato{
  height: 60vh;
  position: absolute;
}


.logo img {
  max-width: 15%;
    padding-top: 20px;
    margin: 0px auto 20px auto;
}


.mobile-btn { display: none;}
.check_menu { display: none; }
#bt_menu{ display: none; }



.menu_nav { transition: all .5s; }

.menu_nav.active{
   border-top: none; 
   width: 100%; 
   position: relative;  
   top: 0; 
   left: 0;
   background: rgba(0,0,0,.8);
   z-index: 3000;
 }


.menu_nav ul li a{ 
    color: rgba(255,255,255,1); 
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .06em;
    text-transform: uppercase;
}

.menu_nav i { font-size: 18px;}

.menu_nav .twitter:hover {color: #2aa9e0;}
.menu_nav .linkedin:hover {color: #0077b5;}
.menu_nav .facebook:hover {color: #3b5998;}
.menu_nav .instagram:hover {color: #dc1c7f;}

.menu_nav ul li {display: inline-block;}

.ul_menu li {margin:25px 30px 20px 0px;}

.redesocial li{
    float: right;
    margin:25px 10px 20px 10px;
}

.site_cont{background: rgba(255,255,255,.8); overflow: hidden;}

.slide{ 
  margin: 0 auto; 
  overflow: hidden;     
  position: relative; }

.slide_item {position: absolute; }

.slide_item.active{position: relative;  }

.slide_item img{
    overflow: hidden;
    width: 100%; 
    height: 100vh;
    object-fit: cover;
    object-position: top; 
    opacity: 0;

}

.slide_item.active img{
    opacity: 1;
    transition: s;

}

.slide_item .descricao_imagem{
    position: absolute; 
    bottom: 20vh; 
    width: 100%; 
    text-align: center;
    padding: 30px 0px;
    color: rgba(255,255,255,1);
    visibility: hidden;
    opacity: 0;
    z-index: 3; 
}

.slide_item.active .descricao_imagem {
    opacity: 1;
    visibility: visible;
    transition: 3s;
}

.descricao_imagem a{ color: rgba(255,255,255,1);; }


.descricao_imagem h1{
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.descricao_imagem h1:after{
    content: '';
    display: block;
    height: 1px;
    width: 100px;
    margin: 20px auto 0px auto;
    background: rgba(255,255,255,1); 
}

.descricao_imagem h2{
    font-size: 60px;  
    font-weight: 300; 
    margin-bottom: 20px;
}

.descricao_imagem h3{
    font-family: 'Roboto';
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-bottom: 40px;
}

.call_to_post{
  clear: both;
}

.call_to_post a{
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid rgba(255,255,255,.2);
  transition: 1s;
}

.call_to_post a:hover{
  background: rgba(255,255,255,.2);
  transition: 1s;
}


.trab_item { margin: 20px 0px; text-align: center; margin-left: 10px;
  margin-right: 10px; overflow: hidden;}

.trab_item h2{ font-size: 18px; color: #111111; padding: 20px 0px; font-weight: 600; font-family: 'Poppins', sans-serif; text-transform: uppercase;}

.trab_item img{ 
    height: 300px; 
    width: 100%; 
    object-fit: cover;
    object-position: top;
  }


.rodape {
  background: rgba(255,255,255,.8 );
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}

.rodape p{
  text-transform: uppercase;
  font-size: 10px;
}




/* Portfólio */


.section{ margin: 0 auto; height: 60vh;
  overflow: hidden;     position: relative; width: 100%;}

.section_cover {position: relative; }

.section_cover img{
    position: absolute;
    width: 100%; 
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    object-position: center; 

}

.descricao_cover{
    position: absolute; 
    top: 220px;
    width: 100%; 
    text-align: center;
    padding: 30px 0px;
    color: rgba(255,255,255,.9);
    z-index: 3; 
}


.descricao_cover a{ color: rgba(255,255,255,.9);; }


.descricao_cover h1{
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.descricao_cover h1:after{
    content: '';
    display: block;
    height: 1px;
    width: 100px;
    margin: 10px auto 20px auto;
    background: rgba(255,255,255,.9); 
}


.descricao_cover h2{
    margin: 0 auto; 
    font-family: 'Roboto';
    font-size: 16px;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 0.4em;
    margin-bottom: 40px;
    max-width: 800px;
}

.album{
  margin-top: 40px;
  text-align: center;
  position: relative; 
}

.album img{
  margin-bottom: 20px; 
  width: 100%; 
  height: 320px;
  overflow: hidden;
  object-fit: cover;
  object-position: top; 
  transition: 1s;
}

.album img:hover{
  opacity: .8;
  transition: 1s;
}

.legenda_album{
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom:20px;
  padding: 20px 0px;
  text-transform: uppercase; 
  font-size: 18px; 
  letter-spacing: 0.1em; 
  color: rgba(255,255,255,.9);
  background: rgba(0,0,0,.4);
  transition: all 1s;
}

.legenda_album:hover{
  background: rgba(0,0,0,.1);
  color: rgba(255,255,255,1);
  text-decoration: underline;
  transition: all 1s;
}


/* /Portfólio */

/* Portfólio Galerias*/

.albums .descricao_cover h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-transform: none;
    letter-spacing: 0;
}

.album_item{position: relative; text-align: center;}

.album_item .album img{
  height: 400px;
}

.album_item .legenda_album{
  height: 80px;
  padding: 25px 0px;
  font-size: 24px; 

}

/* Sobre */

.sobre_conteudo{
  margin-top: 20px;
  color: #555555;
}

.sobre_descri h1{
  text-align: center;
  font-size: 60px;
  padding-top: 60px;
}

.sobre_descri p{
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 2em;
}

.sobre_img img{
  margin: 20px 0;
}


/* /Sobre*/

/* Contato */

.formulario{ margin-top: 20px; }

.form label{ 
  display: block; 
  font-size: 14px;
  line-height: 1.4em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.form input{
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #111111;
}

#espec{
 width: 100%; 
 height: 200px;  
 margin-bottom: 10px; 
 border: 1px solid #111111;
}

.call_email{
  background: none;
  border: 1px solid #111111;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  color: #111111;
  font-weight: 500;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  transition: .5s ease-in-out;
  letter-spacing: 0.1em;
}

.contato__dados{
  margin-bottom: 40px;
}

.contato__dados > * {  
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.contato__dados h3{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.contato__dados span{
  display: block;
  color: #555555;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

}



.formphp label.nao-aparece, .formphp input.nao-aparece {
  display: none !important;
}

#form-erro span, #form-send span  {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  display: block;
}

#form-send {
  color: #31aa39;
}

#form-erro {
  color: #f64540;
}


@media screen and (max-width: 960px){

.check_menu { display: block; }

.slide_item .descricao_imagem.active, .section_cover .descricao_cover.active{
    z-index: -1; 
}

.menu_nav ul li { margin-top: 60px; }

.menu_nav ul{display: none;}

.menu_nav.active{
  height: 100vh;
  position: fixed;
  background: rgba(0,0,0,.9);
  z-index: 6;
}

.menu_nav.active ul{display: block;}

.menu_nav .mobile-btn{
  display: block;
  color: rgba(255,255,255,.8);
  width: 36px;
  height: 42px;
  border-top: 4px solid;
  margin: 30px auto;
  float: none;
  position: relative;
  cursor: pointer;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
}

.menu_nav .mobile-btn::after, .menu_nav .mobile-btn::before {
  content: '';
  display: block;
  height: 4px;
  margin-top: 6px;
  background: currentColor;
  position: relative;
  transition: transform .2s ease;
}


.menu_nav.active .mobile-btn {
  display: block;
  color: rgba(255,255,255,.8);
  width: 36px;
  height: 36px;
  border-top: 4px solid;
  margin: 20px 0 0 15px;
  float: left;
  position: relative;
  cursor: pointer;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
}



.menu_nav.active .mobile-btn::after, .menu_nav.active .mobile-btn::before {
  content: '';
  display: block;
  height: 4px;
  margin-top: 6px;
  background: currentColor;
  position: relative;
  transition: transform .2s ease;
}

.menu_nav.active .mobile-btn.active, .mobile-btn.active {
  border-top-color: transparent;
}

.mobile-btn.active{
  color: #111111;
}

.mobile-btn.active::after {
  margin-top: 0px;
  top: 2px;
  transform: rotate(45deg);
}

.mobile-btn.active::before {
  margin-top: 0px;
  top: 12px;
  transform: rotate(135deg);
}

.menu_nav.active .mobile-btn.active::after {
  margin-top: 0px;
  top: 2px;
  transform: rotate(45deg);
}

.mobile-btn.active::before {
  margin-top: 0px;
  top: 6px;
  transform: rotate(135deg);
}


.menu_nav .ul_menu li{ display: block; float: none; text-align: center;}
.menu_nav .ul_menu li a{font-size: 18px; }

.ul_menu > *{ width: 100%; }
.ul_menu {   margin: 0%;  display: block; padding-top: 10px;}

.redesocial{    display: block; margin: 0; padding: 0px 80px;} 

.menu_nav i { font-size: 24px;display: block;}

.redesocial li{
    float: none; 
    margin:25px 10px 20px 0px;
}

}




.js .descricao_cover h1{ opacity: 0; }
.js .descricao_cover h2{ opacity: 0; }

@keyframes slideinup {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.slideinup {
          animation-name: slideinup;
          animation-duration: 2s;
          animation-fill-mode: both;

}


@keyframes slideindown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.slideindown {
          animation-name: slideindown;
          animation-duration: 2s;
          animation-fill-mode: both;

}





